body{
    font-family: Arial;
}

.container{
    display: grid;
    grid-template-columns: [inicio] 1fr [linea2]1fr 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicioF] 200px [principal-end] 200px [item4-end] 200px [finalF];
    height: 100vh;
    gap: 5px;
}

.item{
    background: lightblue;
    padding:  10px;
    border: 1px solid darkblue;
}
.item:nth-of-type(1){
    /* grid-column:  1 / -1;
    grid-row:  1 / 1; */
    grid-column: inicio/final;
    grid-row: inicioF/principal-end;
}

.item:nth-of-type(2){
    /* grid-column:  1 / span 3;
    grid-row:  2 / span 2; */
    grid-column: inicio/destacado-end;
    grid-row: principal-end/finalF;
}
.item:nth-of-type(3){
    /* grid-column:  4 / span 2;
    grid-row:  2 / span 2; */
    grid-column: destacado-end/destacado2-end;
    grid-row: principal-end/finalF;
}
.item:nth-of-type(4){
    /* grid-column:  6 / span 2; */
    grid-column: destacado2-end/final;
    grid-row: principal-end/item4-end;
}
